
.contenedor-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--page-background-color);
    
}

.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}

.opciones li a{
    width: 80px;
    background-color:var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    color: var(--tertiary-color);
    border-radius: 10px;
    margin-right: 15px;
}

.opciones li a:hover{
    scale: 1.1;
}

.contenedor-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--background);
    padding: 20px;
}
.titulo{
    color: var(--secondary-color);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.formulario input, textarea{
    margin: 10px 0 10px 0;
    padding: 5px;
    width: 80%;
    background-color: var(--page-background-color);
    border: none;
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--secondary-color);
    resize: none;
}

.formulario input,textarea:focus{
    outline: none;
}

.formulario textarea::-webkit-scrollbar{
    width: 5px;
    
}

.formulario textarea::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
}



.formulario button{
    margin-top: 20px;
    padding: 5px;
    width: 80%;
    background-color: var(--secondary-color);
    border: none;
    color: var(--tertiary-color);
    border-radius: 10px;
    cursor: pointer;
}

.errors{
    color: brown;
    font-size: 0.8rem;
    margin-bottom: 10px;
}