img{
    max-width: 500px;
    margin-left: 100px;
}

.bienvenido{
    font-size: 100px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.contenido{
    max-width: 600px;
}

.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contenido p{
    margin-bottom: 40px;
    font-size: 20px;
}
