img{
    max-width: 500px;
    margin-left: 100px;
}

.bienvenido{
    font-size: 100px;
    color: var(--secondary-color);
    font-weight: bold;
}

.contenido{
    max-width: 600px;
}

.contenido p{
    margin-bottom: 40px;
    font-size: 20px;
}
